*.dll
*.exe
.DS_Store
bin/
dist/
modules-dev/
tmp/
/pkg/
*.backup
*.log
*.bak
*~
*.test
*.iml
*.tar.zst

# OpenTofu/Terraform
**/.terraform/*
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Test exclusions
example.tf

# Provider-generated
**/images/


